html {
	margin: 0;
	padding: 0;
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
	line-height: 130%;
	letter-spacing: 0px;
	vertical-align: middle;
	box-sizing: border-box;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #fff;
	color: #1f2128;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}
